<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bulky Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bulky_Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
</head>
<body class="flex h-[100vh] w-full flex-col overflow-y-auto bg-slate-50">
    <header class="z-[999] sticky top-0 h-[70px]">
        <nav class="flex h-full w-full items-center justify-between bg-gradient-to-r from-black via-purple-950 to-violet-950 px-8 py-2">
            <div class="flex items-center justify-center gap-4">
                <div class="leading-3 varela-round-font font-bold text-white shadow-md">BULKY WEB</div>
                <div class="tracking-[2px] flex items-center justify-center gap-4 text-sm font-semibold uppercase">
                    <a class="text-gray-400 transition-colors duration-200 hover:text-gray-100" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                    <a class="text-gray-400 transition-colors duration-200 hover:text-gray-100" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </div>
            </div>
            <div></div>
            <div class="flex items-center justify-center gap-4 text-white">
                <div>Logout</div>
                <div>Profile</div>
            </div>
        </nav>
    </header>

    <main class="h-[calc(100%-70px)] w-full overflow-y-auto" >
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
