@model Product

@{
	var categories = ViewBag.Categories as IEnumerable<SelectListItem> ?? new List<SelectListItem>();
}

<div class="flex h-auto w-full items-center justify-center p-8 text-sm">
	<form asp-action="Create" method="post" class="flex w-full flex-col items-center justify-center gap-4 rounded-md border border-gray-200 p-8 shadow-md md:w-3/4 lg:w-1/2" id="prod-create-form" enctype="multipart/form-data">
		<div class="black-ash-gradient flex w-full items-center justify-center rounded-md p-4 text-left uppercase text-black shadow-md">
			<span class="tracking-[2px] font-semibold text-white">create product</span>
		</div>

		<!-- Product Title -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Title" class="pl-4 font-semibold"></label>
			<input asp-for="Title" class="w-full rounded-md border border-black px-4 py-2" id="prod-title-inp-create" required placeholder="Enter product title here..." />
			<span asp-validation-for="Title" class="text-red-800"></span>
		</div>

		<!-- Product Description -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Description" class="pl-4 font-semibold"></label>
			<textarea asp-for="Description" class="h-[150px] w-full rounded-md border border-black px-4 py-2" id="prod-desc-inp-create" required placeholder="Enter product description here..."></textarea>
			<span asp-validation-for="Description" class="text-red-800"></span>
		</div>

		<!-- Product Author -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Author" class="pl-4 font-semibold"></label>
			<input asp-for="Author" class="w-full rounded-md border border-black px-4 py-2" id="prod-author-inp-create" required placeholder="Enter author name here..." />
			<span asp-validation-for="Author" class="text-red-800"></span>
		</div>

		<!-- Product ISBN -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Isbn" class="pl-4 font-semibold"></label>
			<input asp-for="Isbn" class="w-full rounded-md border border-black px-4 py-2" id="prod-isbn-inp-create" required placeholder="Enter product isbn here..." />
			<span asp-validation-for="Isbn" class="text-red-800"></span>
		</div>

		<!-- Product Category -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="CategoryId" class="pl-4 font-semibold"></label>
			<select asp-for="CategoryId" asp-items="categories" class="w-full rounded-md border border-black px-4 py-2" id="prod-category-inp-create" required>
				<option class="w-full" disabled selected>-- Select category --</option>
			</select>
			<span asp-validation-for="CategoryId" class="text-red-800"></span>
		</div>

		<!-- Product Price -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Price" class="pl-4 font-semibold"></label>
			<input asp-for="Price" type="number" class="w-full rounded-md border border-black px-4 py-2" id="prod-price-inp-create" required placeholder="Enter product price here..." />
			<span asp-validation-for="Price" class="text-red-800"></span>
		</div>

		<!-- Product ListPrice -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="ListPrice" class="pl-4 font-semibold"></label>
			<input asp-for="ListPrice" type="number" class="w-full rounded-md border border-black px-4 py-2" id="prod-list-price-inp-create" required placeholder="Enter product list price here..." />
			<span asp-validation-for="ListPrice" class="text-red-800"></span>
		</div>


		<!-- Product Price50 -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Price50" class="pl-4 font-semibold"></label>
			<input asp-for="Price50" type="number" class="w-full rounded-md border border-black px-4 py-2" id="prod-list-price-50-inp-create" required placeholder="Enter 50+ buy price here..." />
			<span asp-validation-for="Price50" class="text-red-800"></span>
		</div>

		<!-- Product Price100 -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Price100" class="pl-4 font-semibold"></label>
			<input asp-for="Price100" type="number" class="w-full rounded-md border border-black px-4 py-2" id="prod-list-price-100-inp-create" required placeholder="Enter 100+ buy price here..." />
			<span asp-validation-for="Price100" class="text-red-800"></span>
		</div>

		<!-- Product Image -->
		<div class="flex w-full flex-col gap-2">
			<span class="pl-4 font-semibold">Upload Product Image</span>
			<img id="prod-img-preview" class="mx-4 my-2 h-40 w-40 rounded-md border border-gray-200 object-cover" src="#" alt="Product Image Preview" style="display: none;" />
			<input type="file" name="file" class="w-full rounded-md border border-black px-4 py-2" id="prod-img-inp-create" />
		</div>

		<div class="flex h-auto w-full flex-col gap-4 md:flex-row">
			<button class="flex w-full items-center justify-center rounded-md bg-black py-2 uppercase text-white md:w-1/2" type="submit" id="prod-create-btn">create</button>
			<a asp-area="Admin" asp-controller="Product" asp-action="Index" class="flex w-full items-center justify-center rounded-md border border-black bg-slate-200 p-1 py-2 uppercase text-black md:w-1/2">back to list</a>
		</div>
	</form>
</div>

@section Scripts {
	<script src="~/js/product/product-create.js"></script>
	@{
		await Html.RenderPartialAsync("_TinyMvcTextArea");
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
