@model Product

<div class="flex h-auto w-full items-center justify-center p-8 text-sm">
	<form asp-action="Delete" method="post" class="flex w-full flex-col items-center justify-center gap-4 rounded-md border border-gray-200 p-8 shadow-md md:w-3/4 lg:w-1/2" id="cat-create-form">
		<input asp-for="Id" hidden />
		<div class="black-ash-gradient flex w-full items-center justify-center rounded-md p-4 text-left uppercase text-black shadow-md">
			<span class="tracking-[2px] font-semibold text-white">delete product</span>
		</div>

		<!-- Product Title -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Title" class="pl-4 font-semibold"></label>
			<input asp-for="Title" class="w-full rounded-md border border-black px-4 py-2" id="prod-title-inp-delete" required placeholder="Enter product title here..." disabled />
		</div>

		<!-- Product Description -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Description" class="pl-4 font-semibold"></label>
			<textarea asp-for="Description" class="h-[150px] w-full rounded-md border border-black px-4 py-2" id="prod-desc-inp-delete" required placeholder="Enter product description here..." disabled></textarea>
		</div>

		<!-- Product Author -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Author" class="pl-4 font-semibold"></label>
			<input asp-for="Author" class="w-full rounded-md border border-black px-4 py-2" id="prod-author-inp-delete" required placeholder="Enter author name here..." disabled />
		</div>

		<!-- Product ISBN -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Isbn" class="pl-4 font-semibold"></label>
			<input asp-for="Isbn" class="w-full rounded-md border border-black px-4 py-2" id="prod-isbn-inp-delete" required placeholder="Enter product isbn here..." disabled />
		</div>

		<!-- Product Price -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Price" class="pl-4 font-semibold"></label>
			<input asp-for="Price" class="w-full rounded-md border border-black px-4 py-2" id="prod-price-inp-delete" required placeholder="Enter product price here..." disabled />
		</div>

		<!-- Product ListPrice -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="ListPrice" class="pl-4 font-semibold"></label>
			<input asp-for="ListPrice" class="w-full rounded-md border border-black px-4 py-2" id="prod-list-price-inp-delete" required placeholder="Enter product list price here..." disabled />
		</div>


		<!-- Product Price50 -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Price50" class="pl-4 font-semibold"></label>
			<input asp-for="Price50" class="w-full rounded-md border border-black px-4 py-2" id="prod-list-price-50-inp-delete" required placeholder="Enter 50+ buy price here..." disabled />
		</div>

		<!-- Product Price100 -->
		<div class="flex w-full flex-col gap-2">
			<label asp-for="Price100" class="pl-4 font-semibold"></label>
			<input asp-for="Price100" class="w-full rounded-md border border-black px-4 py-2" id="prod-list-price-50-inp-delete" required placeholder="Enter 100+ buy price here..." disabled />
		</div>

		<div class="flex h-auto w-full flex-col gap-4 md:flex-row">
			<button class="flex w-full items-center justify-center rounded-md bg-black py-2 uppercase text-white md:w-1/2" type="submit" id="prod-delete-btn">delete</button>
			<a asp-area="Admin" asp-controller="Product" asp-action="Index" class="flex w-full items-center justify-center rounded-md border border-black bg-slate-200 p-1 py-2 uppercase text-black md:w-1/2">back to list</a>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
