@model Product

@{
    var products = ViewBag.Products as List<Product> ?? new List<Product>();
    List<string> tableHeaders = new []{ "ID", "Title", "ISBN", "Price", "Author", "Category", "" }.ToList();
}

<div class="mt-[20px] flex w-full flex-col items-center p-4">
    <div class="black-ash-gradient flex w-full flex-col items-center justify-center rounded-t-md px-8 py-3 md:flex-row md:justify-between">
        <p class="tracking-[2px] text-xl font-bold uppercase text-white">@ViewData["Title"]</p>
        <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="flex items-center justify-center gap-2 rounded-md bg-black px-8 py-2 shadow-md">
            <i class="fas fa-plus-circle text-white"></i>
            <span class="tracking-[2px] text-sm font-semibold uppercase text-white no-underline">create product</span>
        </a>
    </div>

    <div class="h-auto w-full">
        <table id="productsTable" class="w-full border-collapse overflow-x-auto rounded-md border shadow-md">
            <thead>
                <tr class="tracking-[2px] bg-gray-100 text-xs uppercase text-black md:text-sm">
                    @foreach (var header in tableHeaders)
					{
                        <th class="border border-gray-300 px-4 py-2 text-center">@header</th>
					}
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/product/product.js"></script>
}