@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="flex h-full w-full items-center justify-center">
    <form class="flex h-full w-full flex-col items-center justify-center rounded-md border border-gray-300 p-4 shadow-md sm:w-4/5 md:h-auto md:w-3/5 lg:w-2/5 xl:w-[30%]">

        <h2 class="mb-4 text-lg font-semibold text-blue-900">Enter your email</h2>
        <hr />

        <!-- Email Field -->
        <div class="mb-3 flex w-full flex-col gap-1">
            <input asp-for="Input.Email" class="custom-form-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="custom-form-label">Email</label>
            <span asp-validation-for="Input.Email" class="custom-form-error"></span>
        </div>


        <!-- Submit button -->
        <div class="w-full">
            <button id="forgot-password-submit" type="submit" class="black-ash-gradient custom-submit-button">Reset Password</button>
        </div>

    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
