@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="flex h-full w-full items-center justify-center">
    <form class="flex h-full w-full flex-col items-center justify-center rounded-md border border-gray-300 p-4 shadow-md sm:w-4/5 md:h-auto md:w-3/5 lg:w-2/5 xl:w-[30%]" method="post">

        <h2 class="mb-4 text-lg font-semibold text-blue-900">Sign in to Bulky Book Web</h2>
        <hr />

        <!-- Email Input -->
        <div class="mb-3 flex w-full flex-col gap-1">
            <input asp-for="Input.Email" class="custom-form-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="custom-form-label">Email</label>
            <span asp-validation-for="Input.Email" class="custom-form-error"></span>
        </div>

        <!-- Password Input -->
        <div class="mb-3 flex w-full flex-col gap-1">
            <input asp-for="Input.Password" class="custom-form-input" autocomplete="current-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password" class="custom-form-label">Password</label>
            <span asp-validation-for="Input.Password" class="custom-form-error"></span>
        </div>


        <!-- Remember me checkbox -->
        <div class="mb-2 flex w-full items-center justify-start gap-1">
            <label asp-for="Input.RememberMe" class="justify center flex items-center gap-1 text-base">
                <input class="" type="checkbox" asp-for="Input.RememberMe" />
                <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
            </label>
        </div>


        <!-- Submit button -->
        <div class="w-full">
            <button id="login-submit" type="submit" class="black-ash-gradient flex h-[40px] w-full items-center justify-center rounded-md text-white shadow-md">Log in</button>
        </div>



        <!-- Links to other actions -->
        <div class="mt-4 flex h-auto w-full flex-col gap-2 p-4">
            <div class="flex items-center justify-center gap-1">
                <span class="text-black">Don't have an account?</span>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-blue-500">Register</a>
            </div>
            <p class="w-full text-center">
                <a id="forgot-password" asp-page="./ForgotPassword" class="text-blue-500">Forgot your password?</a>
            </p>
            <p class="w-full text-center text-blue-500">
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
