@{
	ViewData["Title"] = "Error";
}




<div class="flex h-full w-full flex-col items-center justify-center gap-2 bg-gray-800 p-8 text-white">
	<span>
		<i class="fa-solid fa-circle-exclamation text-[100px]"></i>
	</span>
	<h1 class="text-center text-3xl">Ooops!</h1>
	<h2 class="text-center text-xl">It seems like something went wrong</h2>
	<p class="text-center text-red-500">We're already working on resolving the issue. Please check back with us shortly!</p>
</div>