@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="flex h-full w-full overflow-x-hidden">
    <div class="hidden h-full w-1/5 bg-gray-400 md:block">
        <partial name="_ManageNav" />
    </div>
    <div class="box-border h-full flex-grow">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
