@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="flex h-full w-full overflow-x-hidden">
    <div class="hidden h-full w-1/5 md:block">
        <partial name="_ManageNav" />
    </div>
    <div class="relative box-border h-full flex-grow overflow-y-auto">
        <div class="z-[10] sticky top-0 flex h-auto w-full md:hidden">
            <partial name="_ManageNav" />
        </div>
        <div class="h-full min-h-full w-full">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
