@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* colors */
    --LINEAR-GRADIENT-BLACK: #000000; /* Black */
    --LINEAR-GRADIENT-ASH: #5e5d5d; /* Ash gray */
    --LINEAR-GRADIENT-DARK-ASH: #3e3d3d; /* Darker ash gray for mix */
    --LINEAR-GRADIENT-LIGHT-BLUE: #a2d2ff; /* Soft light blue */
    --LINEAR-GRADIENT-PASTEL-PURPLE: #cdb4db; /* Pastel purple */
    --LINEAR-GRADIENT-LAVENDER: #e0aaff; /* Lavender */

    /* linear gradient */
    --BLACK-DARK-ASH-ASH-GRADIENT: linear-gradient(
        to right, 
        var(--LINEAR-GRADIENT-BLACK), 
        var(--LINEAR-GRADIENT-DARK-ASH), 
        var(--LINEAR-GRADIENT-ASH)
    );

    /* linear gradients */
    --BLUE-PURPLE-LAVENDER-GRADIENT: linear-gradient(
        to right, 
        var(--LINEAR-GRADIENT-LIGHT-BLUE), 
        var(--LINEAR-GRADIENT-PASTEL-PURPLE), 
        var(--LINEAR-GRADIENT-LAVENDER)
    );
}

@font-face {
    font-family: 'Varela Round';
    src: url('/fonts/VarelaRound.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.varela-round-font {
    font-family: "Varela Round", sans-serif;
}

body {
    font-family: 'Varela Round', sans-serif;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/images/ui/bg.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: overlay;
}

.black-ash-gradient {
    background: var(--BLACK-DARK-ASH-ASH-GRADIENT);
}

.light-blue-purple-gradient {
    background: var(--BLUE-PURPLE-LAVENDER-GRADIENT);
}

.hero-video-container {
    position: relative; /* Ensure the container is positioned */
}

    .hero-video-container::after {
        content: "";
        position: absolute; /* Make it absolute so it covers the container */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; /* Ensure it is above the video */
        background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity of the overlay */
        background-blend-mode: overlay;
    }

    .hero-video-container video {
        z-index: -1; /* Video should be behind the overlay */
    }

.quote-container {
    position: absolute;
    inset: 0; /* Position in the center of the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 2; /* Ensure the quote is on top of the overlay */
}

    .quote-container p {
        margin: 0; /* Remove any default margin */
    }

    .quote-container .text-lg {
        font-size: 1.25rem; /* Size of the quote text */
    }

    .quote-container .text-sm {
        font-size: 0.875rem; /* Size of the author text */
        margin-top: 0.5rem; /* Space between quote and author */
    }
